h1{
	font-family: lucida calligraphy;
	color: aquamarine;
	font-style: italic;
	font-style: bold;
	text-align: center;
}
h2{
	font-family: 'Pangolin', cursive;
	color: orange;
	font-style: oblique;
}
#food{
	font-family: algerian;
	color: red;
	font-style: bold;
}
#progress{
	font-family: Lucida Handwriting;
	color: silver;
}
details{
	font-family: times new roman;
	font-variant: small-caps;
	color: white;
}
summary{
	font-style: oblique;
}
body{
	background-image: url("https://uhdwallpapers.org/uploads/converted/19/10/17/oneplus-7t-pro-warm-lines-4k-image-1920x1080_577995-mm-90.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%
	overflow-y: auto;
	overflow-x: auto;
}
nav{
	font-family: times new roman;
	font-variant: small-caps;
	font-size: 20px;
	text-align: center;
}
footer{
	font-family: lucida calligraphy;
	font-style: bold;
}
#para1{
	font-size: 25px;
	font-family: 'Pacifico', cursive;;
	color: red;
}
a{
	color: white;
}
figcaption{
	color: aquamarine;
}
#para3{
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: yellow;
}
#para2{
	font-size: 15px;
	font-family: 'Acme', sans-serif, lucida handwriting;
	color: aqua;
}
#parabet{
	font-size: 15px;
	font-family: 'Courgette', cursive;
	color: blue;
}
ol{
	font-family: 'Marck Script', cursive;
	font-size: 15px;
	color: white;
}
#para5{
	font-family: 'Berkshire Swash', cursive;
	font-size: 20px;
	color: yellow;
}
#para6{
	font-family: times new roman;
	font-size: 20px;
	color: white;
	font-variant: small-caps;
}
#para4{
	font-family: 'Satisfy', cursive;
	font-size: 20px;
	color: white;
}
td{
	font-family: 'Timmana', sans-serif;
}
th{
	font-variant: small-caps;
	font-size: 25px;
	text-align: center;
}

